.reveal table {
	border-collapse: collapse;
	border: 0;
}

.rendered_html tr {
	border: 0;
}

.rendered_html td {
	border: 0;
}

.reveal table td {
	border: 0;
}

td {
	border: 0;
}

.qr {
	float: right;
}
